PreScripds.UI/Service References/UserServiceReference/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1346/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PreScripds.Domain" />
  <xs:import schemaLocation="http://localhost:1346/UserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PreScripds.Domain.Enums" />
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="GetUsersResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="model" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="AddUserResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PreScripds.Domain.Enums" minOccurs="0" name="loginType" type="q4:LoginType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="GetUserByUsernameResult" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmailExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmailExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="CheckEmailExistsResult" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRoleExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="role" nillable="true" type="q7:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRoleExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckRoleExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="GetRoleResult" nillable="true" type="q8:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="model" nillable="true" type="q9:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="AddRoleResult" nillable="true" type="q10:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="userHistory" nillable="true" type="q11:UserHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="AddUserHistoryResult" nillable="true" type="q12:UserHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="organization" nillable="true" type="q13:Organization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="AddOrganizationResult" nillable="true" type="q14:Organization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="GetDepartmentResult" nillable="true" type="q15:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOrganizationExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOrganizationExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOrganizationExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="userHistory" nillable="true" type="q16:UserHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>