PreScripds.Test/Service References/UserServiceReference/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PreScripds.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PreScripds.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1346/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:byte" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="approved_by" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="created_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="department_id" type="xs:int" />
      <xs:element minOccurs="0" name="dob" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isapproved" nillable="true" type="xs:byte" />
      <xs:element minOccurs="0" name="last_login_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="login_ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobile" type="xs:long" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recovery_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recovery_phone" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="roleid" type="xs:int" />
      <xs:element minOccurs="0" name="salt_key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updated_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="user_id" type="xs:long" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>