PreScripds.UI/Service References/MasterServiceReference/MasterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MasterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1346/MasterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1346/MasterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1346/MasterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PreScripds.Domain.Master" />
      <xsd:import schemaLocation="http://localhost:1346/MasterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PreScripds.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMasterService_GetCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountry" />
  </wsdl:message>
  <wsdl:message name="IMasterService_GetCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterService_GetState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetState" />
  </wsdl:message>
  <wsdl:message name="IMasterService_GetState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStateResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterService_GetCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCity" />
  </wsdl:message>
  <wsdl:message name="IMasterService_GetCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterService_GetSecurityQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurityQuestion" />
  </wsdl:message>
  <wsdl:message name="IMasterService_GetSecurityQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurityQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="IMasterService">
    <wsdl:operation name="GetCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/GetCountry" message="tns:IMasterService_GetCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/GetCountryResponse" message="tns:IMasterService_GetCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/GetState" message="tns:IMasterService_GetState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/GetStateResponse" message="tns:IMasterService_GetState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/GetCity" message="tns:IMasterService_GetCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/GetCityResponse" message="tns:IMasterService_GetCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurityQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/GetSecurityQuestion" message="tns:IMasterService_GetSecurityQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/GetSecurityQuestionResponse" message="tns:IMasterService_GetSecurityQuestion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMasterService" type="tns:IMasterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountry">
      <soap:operation soapAction="http://tempuri.org/IMasterService/GetCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <soap:operation soapAction="http://tempuri.org/IMasterService/GetState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <soap:operation soapAction="http://tempuri.org/IMasterService/GetCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityQuestion">
      <soap:operation soapAction="http://tempuri.org/IMasterService/GetSecurityQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MasterService">
    <wsdl:port name="BasicHttpBinding_IMasterService" binding="tns:BasicHttpBinding_IMasterService">
      <soap:address location="http://localhost:1346/MasterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>