PreScripds.UI/Service References/MasterServiceReference/MasterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PreScripds.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PreScripds.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1346/MasterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PreScripds.Domain.Master" />
  <xs:import schemaLocation="http://localhost:1346/MasterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:byte" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminApprove" type="xs:short" />
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AltEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AltMobile" nillable="true" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PreScripds.Domain.Master" minOccurs="0" name="City" nillable="true" type="q1:City" />
      <xs:element minOccurs="0" name="CityId" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PreScripds.Domain.Master" minOccurs="0" name="Country" nillable="true" type="q2:Country" />
      <xs:element minOccurs="0" name="CountryId" type="xs:long" />
      <xs:element minOccurs="0" name="Dob" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:short" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:short" />
      <xs:element minOccurs="0" name="IsHomeUrl" type="xs:short" />
      <xs:element minOccurs="0" name="IsSuperAdmin" type="xs:short" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" type="xs:long" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:long" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PreScripds.Domain.Master" minOccurs="0" name="State" nillable="true" type="q3:State" />
      <xs:element minOccurs="0" name="StateId" type="xs:long" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="tns:ArrayOfUserLogin" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserLogin" nillable="true" type="tns:UserLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserLogin" nillable="true" type="tns:ArrayOfUserLogin" />
  <xs:complexType name="UserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaltKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestionId" type="xs:long" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PreScripds.Domain.Master" minOccurs="0" name="SecurtiyQuestion" nillable="true" type="q4:SecurityQuestion" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="UserLoginId" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLogin" nillable="true" type="tns:UserLogin" />
</xs:schema>