PreScripds.Test/Service References/OrganizationServiceReference/OrganizationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1346/OrganizationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PreScripds.Domain" />
  <xs:element name="GetOrganizationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PreScripds.Domain" minOccurs="0" name="GetOrganizationByIdResult" nillable="true" type="q1:Organization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>